/* Prevents vertical scrollbar from shifting page */
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
body {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

nav {
  position: fixed;
  border-bottom: 1px solid #d5d5d5;
  max-width: 1200px;
  width: 100vw;
  top: 0;
  text-align: center;
  background-color: rgba(252,253,255,.9);
  z-index:1;
}

ul {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  list-style: none;
  padding: 0px;
}

li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  text-decoration: underline;
  color: rgb(88, 88, 88);
}

h1 {
  font-size: 3em;
  text-align: center;
}

p {
  line-height: 1.4em;
  color: #333;
}




img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

#root {
  font-family: Prompt, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  margin: 3em 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper span {
  width: 100%;
}

article {
  box-shadow: 4px 4px 10px 1px #b3b3b3;
}

article:hover {
  box-shadow: 5px 5px 10px 1px #a9a9a9;
}



.button {
  background-color: #999;
  color: white;
  padding: 0.4em 1em;
  box-shadow: 1px 1px 1px 0px #b3b3b3;
}

.button:hover {
  background-color: #6d6d6d;
  box-shadow: 1px 1px 1px 1px #a9a9a9;
}

.movie {
  display: block;
  margin: auto;
  padding: 1em;
  width: 100%;
}

.description {
  padding: 0.5em;
  font-size: 1em;
  height: 70px;
}

.links, .details {
  text-align: center;
  padding: 0.5em;
  margin: 0;
  font-size: 1em;
}

.links .source {
  padding: 0 0.5em;
}

.movie-thumb {
  position: relative;  
  zoom:1;
  display: inline-block;
}

.movie-data{
  width: 100%;
}

.movie-data .movie .poster {
  max-width: 250px;
}

@media screen and (max-width: 700px) {
  .movie-list .movie-thumb {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 701px) and (max-width: 960px) {
  .movie-list .movie-thumb {
    width: calc(100% / 4);
  }
}

@media screen and (min-width: 961px) {
  .movie-list .movie-thumb {    
    width: calc(100% / 6);
  }
}